*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, 
body,
#root{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
main{
    width: 100%;
    height: 100%;
    background-image: url(/public/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}